# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg

# Claude Code
.claude/

# Andere Projekte mit eigenem Git-Repo (nicht Teil des era-rechner-Repos)
parkana/
tfw-rechner/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
